body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pagination-wrapper {
  margin: 15px auto;
}
.pagination-btn {
  padding: 5px;
  border: solid 1px lightseagreen;
  margin: 0 5px;

}
.pagination-btn:hover {
  cursor: pointer;
  color: lightskyblue;
}
.movie-list-wrapper {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}
.movie-list-wrapper > div {
  margin: 10px;
}

